{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOUZZ</title>
    <link rel="stylesheet" href="{% static 'houzz.css' %}" />
  </head>
  <body>
    <div class="headerDiv">
      <ul>
        <li>index</li>
        <li>GET IDEAS</li>
        <li>FIND PROFESSIONALS</li>
        <li>SHOP BY DEPARTMENT</li>

        <input
          type="search"
          placeholder="Search houzz"
          style="border-radius: 10px"
        />
        <div class="side">
          <li style="color: rgb(42, 74, 42)">Sale</li>
          <li>cart</li>
          <li>Sign In</li>
          <li style="color: rgb(79, 79, 248)">Join as a Pro</li>
        </div>
      </ul>
    </div>
    <h1>index Design Ideas</h1>
    <div>
      <div>
        <img
          src="https://st.hzcdn.com/fimgs/0951bdba0995fa96_3292-w136-h80-b0-p0--.jpg"
          alt="icon image"
          width="50"
        />
        <label for="">Kitchen</label>
      </div>
      <div>
        <img
          src="https://st.hzcdn.com/fimgs/0171747b09f2ab73_5530-w136-h80-b0-p0--.jpg"
          alt="icon image"
          width="50"
        />
        <label for="">Bath</label>
      </div>
      <div>
        <img
          src="https://st.hzcdn.com/fimgs/60b11c6809fb6877_9235-w136-h80-b0-p0--.jpg"
          alt="icon image"
          width="50"
        />
        <label for="">Bedroom</label>
      </div>
      <div>
        <img
          src="https://st.hzcdn.com/fimgs/dde1b7a90983d9cc_3707-w136-h80-b0-p0--.jpg"
          alt="icon image"
          width="50"
        />
        <label for="">Living</label>
      </div>
      <div>
        <img
          src="https://st.hzcdn.com/fimgs/2061441c09c5935f_2070-w136-h80-b0-p0--.jpg"
          alt="icon image"
          width="50"
        />
        <label for="">Dining</label>
      </div>
      <div>
        <img src="http://placehold.it/" alt="icon image" width="50" />
        <label for="">Outdoor</label>
      </div>
      <div>
        <img src="http://placehold.it/" alt="icon image" width="50" />
        <label for="">baby & Kids</label>
      </div>
      <div>
        <img src="http://placehold.it/" alt="icon image" width="50" />
        <label for="">index Office</label>
      </div>
      <div>
        <img src="http://placehold.it/" alt="icon image" width="50" />
        <label for="">Storage % Closet</label>
      </div>
      <div>
        <img src="http://placehold.it/" alt="icon image" width="50" />
        <label for="">Exterior</label>
      </div>
      <div>
        <img src="http://placehold.it/" alt="icon image" width="50" />
        <label for="">Basement</label>
      </div>
      <div>
        <img src="http://placehold.it/" alt="icon image" width="50" />
        <label for="">Entry</label>
      </div>
      <div>
        <img src="http://placehold.it/" alt="icon image" width="50" />
        <label for="">Garage & Shed</label>
      </div>
      <div>
        <img src="http://placehold.it/" alt="icon image" width="50" />
        <label for="">Gym</label>
      </div>
      <div>
        <img src="http://placehold.it/" alt="icon image" width="50" />
        <label for="">index Bar</label>
      </div>
      <div>
        <img src="http://placehold.it/" alt="icon image" width="50" />
        <label for="">Hall</label>
      </div>

      <div>
        <img src="http://placehold.it/" alt="icon image" width="50" />
        <label for="">Laundry</label>
      </div>
      <div>
        <img src="http://placehold.it/" alt="icon image" width="50" />
        <label for="">Staircase</label>
      </div>
      <div>
        <img src="http://placehold.it/" alt="icon image" width="50" />
        <label for="">Wine Cellar</label>
      </div>
    </div>
  </body>
</html>
