body {
  /* background-color: aquamarine; */
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
main {
  display: flex;
  justify-content: center;
  background-image: url("/static/images/background.jpg");
}
header h1 {
  text-align: center;
}
form {
  padding: 10px 20px;
}
a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.main-div {
  width: 60%;
  display: flex;
  flex-direction: row;
}
.left-div,
.right-div {
  width: 50%;
  height: 80vh;
}
.left-div {
  /* background-color: aqua; */
  border-right: 2px solid #00000009;
}
.right-div {
  display: flex;
  /* background-color: bisque; */
  align-items: center;
}
form button {
  color: #ffffff;
  background-color: #003823;
  border: none;
  display: block;
  height: 7vh;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.8em;
}
.text-field {
  display: block;
  width: 98%;
  height: 7vh;
  font-size: 1.3em;
}
label,
p {
  font-size: 0.8em;
  margin: 10px 0;
}
